.htmlStyle{
    padding: 0px;
    margin: 0px;
}
.bodyStyle{
    padding: 0px;
    margin: 0px;
}
.headDiv{
    height: 300px;
    background-image: url("../resource/head_bg.png");
    background-size: cover;
    padding: 0px;
    margin: 0px;
}
/*这里有个坑 作为顶部的div 直接设置margin-top会影响外层的margin-top(垂直的margin-top会重叠)  所以通过padding来设置边距(可以设置外层
,也可以设置内层)*/
.headICDiv{
    height: 50px;
    margin: 0px 30px 0px 30px;
    padding-top: 30px;
    clear: both;
}
.headSet{
    /*margin: 30px 0px 0px 30px;*/
    float: left;
}
.headNews{
    /*margin: 30px 30px 0px 0px;*/
    float: right;
}
.headImgDiv{
    margin: 70px 40px 0px 40px;
    height: 111px;
    /*background-color: aqua;*/
    clear: both;
}
.headImgDiv1{
    width: 111px;
    height: 111px;
    background-image: url("../resource/head_placeholder.png");
    background-size: cover;
    float: left;
}
.nameDiv{
    margin-left: 15px;
    height: 111px;
    float: left;
    background-color: aqua;
}
.nameLab{
    font-size: 24px;
    height: 35px;
    margin-top: 10px;
    color: white;
    display: block;
}
.nameDesLab{

}